# Caractéristiques des moteurs d'avion à pistons

In [ ]:
# -*- coding: utf-8 -*-

"""
@author: Chiapello Paul, Eliott Jenny
@date: 2023, Mars
L2, FSI, Paul Sabatier University, Toulouse.

"""

# Import fichier

In [1]:
import pandas as pd
df = pd.read_excel('Engine.xls')

# Ajout, suppression, renommage et réorganisation des colonnes, lignes

In [2]:
df = df.set_axis(df.iloc[2], axis='columns')      # mise en place de l'en-tête
df.drop([2],inplace=True)  

df.columns.values[11] = 'Cylindrées_cm^3'   
df.columns.values[13] = 'Nb_Cylindres'     
df.columns.values[15] = 'Config_Moteurs'   # renommage des noms de colonnes doublé

### Supression colonnes, lignes:

In [3]:
df.drop(df.columns[27:], axis=1, inplace=True) # suppression des colonnes vides

In [4]:
# suppression des colonnes inutiles
df.drop(['Manufacturer', 'Ordered', 'Delivered',
         'Modified','Cancelled', 'Test','Manufacturer Model',
         'Rows','IN^3','Number','Exhaust','Intake','Arrangement','Gear Ratio'], axis=1, inplace=True)

In [5]:
df.dropna(thresh=3, inplace=True)    # Supression de ligne si il y a moins de 3 valeurs non vide

### Renommages colonnes

In [6]:
df.rename(columns = {'Type' : 'Nom_moteur',
                    'Bore' : 'Alesage_mm',
                    'Stroke' : 'Course_Piston_mm',
                     'Cooling' : 'Refroidissement',
                     'CR' : 'Taux de compression',
                     'Weight' : 'Poids_Moteurs_kg',
                     'HP' : 'Puissance_Moteurs_kwatt',
                     '@ RPM' : 'Tours_minutes',
                     'Aircraft' : 'Aéronef'
                    }, inplace=True)

### Reorganisation colonnes

In [7]:
reorga_colonnes = ['Nom_moteur','Aéronef','Puissance_Moteurs_kwatt',
                   'Poids_Moteurs_kg','Cylindrées_cm^3',
                   'Taux de compression','Alesage_mm',
                   'Course_Piston_mm','Tours_minutes',
                   'Config_Moteurs','Nb_Cylindres','Refroidissement'
                  ]
df = df[reorga_colonnes]

# Conversion données

### Création de fonctions de convertions

In [8]:
def inch_to_mm(inch):
    """ 
    convertion pouce en mm 
    """
    return inch * 25.4

def in3_to_cm3(in3):
    """ 
    convertion poucecube en cmcube
    """
    return in3 * 16.39

def lbs_to_kg(lbs):
    """ 
    convertion livre en kg
    """
    return lbs * 0.45359237

def ch_to_kwatt(ch):
    """ 
    convertion chevaux en kwatt
    """
    return ch * 0.735499

### Convertion colonnes en float

In [9]:
# variable des colonnes que l'on veux convertir en float
cols_to_convert = ['Puissance_Moteurs_kwatt','Alesage_mm','Course_Piston_mm',
                   'Poids_Moteurs_kg','Cylindrées_cm^3','Taux de compression',
                  'Tours_minutes','Nb_Cylindres']

#Pour convertir les colonnes contenant des str en float (utilisation de chat gpt pour la fonction applymap(...)
df[cols_to_convert] = df[cols_to_convert].applymap(lambda x: float(x) if str(x).replace('.','',1).isdigit() else None)
df[cols_to_convert] = df[cols_to_convert].astype(float) #convertion en float

### Convertions colonnes en unité international

In [10]:
cols_to_inch_to_mm = ['Alesage_mm','Course_Piston_mm']

# Convertion des colonnes en unitées internationales
df[cols_to_inch_to_mm] = df[cols_to_inch_to_mm].apply(inch_to_mm)
df['Poids_Moteurs_kg'] = df['Poids_Moteurs_kg'].apply(lbs_to_kg)
df['Puissance_Moteurs_kwatt'] = df['Puissance_Moteurs_kwatt'].apply(ch_to_kwatt)
df['Cylindrées_cm^3'] = df['Cylindrées_cm^3'].apply(in3_to_cm3)

In [11]:
df

2,Nom_moteur,Aéronef,Puissance_Moteurs_kwatt,Poids_Moteurs_kg,Cylindrées_cm^3,Taux de compression,Alesage_mm,Course_Piston_mm,Tours_minutes,Config_Moteurs,Nb_Cylindres,Refroidissement
5,NaN,NaN,257.424650,319.782621,19003.756581,NaN,120.000,140.0000,2000.0,Y,12.0,L
6,Dragonfly I,(Clark Pursuit),235.359680,297.556595,22779.809086,4.42,139.700,165.1000,1650.0,R,9.0,A
7,Dragonfly IA,Dragon,264.779640,NaN,22779.809086,4.42,139.700,165.1000,NaN,R,9.0,A
8,Gnat,Martin K.III,33.097455,37.194574,2281.204907,3.80,110.000,120.0000,1920.0,O,2.0,A
9,Mosquito,NaN,91.937375,81.646627,5104.431641,4.05,95.000,120.0000,1700.0,R,6.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...
2118,Merlin 145,XP-51G,1103.248500,NaN,27026.440502,NaN,137.160,152.4000,NaN,60 V,12.0,L
2119,Peregrine I,Whirlwind,650.916615,NaN,21239.915232,NaN,127.000,139.7000,NaN,V,12.0,L
2120,50-499,L-10,106.647355,NaN,8191.798841,NaN,117.475,107.9500,NaN,R,7.0,A
2121,T-14,None,441.299400,NaN,11803.275130,NaN,107.950,92.1004,NaN,R,14.0,L
2122,WM-80,Driggs Dart,18.387475,NaN,1312.409535,NaN,95.250,92.0750,NaN,O,2.0,A