# Import fichier

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('Engine.xls')

# Mise en place colonne,ligne

In [3]:
df = df.set_axis(df.iloc[2], axis='columns')
df.drop([2],inplace=True)

In [4]:
df = df.set_index('Type')

# Tri des données inutile ou nul

### Supression colonne:

In [5]:
df.drop(df.columns[26:], axis=1, inplace=True)

In [6]:
df.drop(['Manufacturer', 'Ordered', 'Delivered', 'Delivered', 'Modified',
       'Cancelled', 'Test', 'Manufacturer Model','Rows'], axis=1, inplace=True)

### Supression ligne:

In [7]:
df

2,Bore,Stroke,IN^3,IN^3,Number,Arrangement,Cooling,Intake,Exhaust,Arrangement,Number,CR,Gear Ratio,Weight,HP,@ RPM,Aircraft
Type,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,Calc,NaN,Cylinders,NaN,NaN,Valves/Cylinder,NaN,Valve,Carbs,NaN,NaN,NaN,NaN,NaN,NaN
Undesignated 1908-1924,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,4.724409,5.511811,1159.472641,NaN,12,Y,L,2,2,NaN,NaN,NaN,R,705,350,2000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50-499,4.625,4.25,499.804688,NaN,7,R,A,1,1,NaN,NaN,NaN,NaN,NaN,145,NaN,L-10
T-14,4.25,3.626,720.151015,NaN,14,R,L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600,NaN,None
WM-80,3.75,3.625,80.073797,NaN,2,O,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25,NaN,Driggs Dart
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RMF 10/4/10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN