In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('Engine.xls')

In [3]:
print(data)

     U.S. Military Aircraft Piston Engines 1908 to Present        Unnamed: 1  \
0                                                   NaN                  NaN
1                                                   NaN                  NaN
2                                                  Type         Manufacturer
3                                Undesignated 1908-1924                  NaN
4                                                   NaN                  NaN
...                                                 ...                  ...
2120                                             50-499               Warner
2121                                               T-14               Wright
2122                                              WM-80     Wright-Morehouse
2123                                                NaN                  NaN
2124                                        RMF 10/4/10                  NaN

     Unnamed: 2 Unnamed: 3  Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0           NaN        NaN         NaN        NaN        NaN        NaN
1         Dates        NaN  Production        NaN        NaN        NaN
2       Ordered  Delivered   Delivered   Modified  Cancelled       Test
3           NaN        NaN         NaN        NaN        NaN        NaN
4           NaN        NaN         NaN        NaN        NaN        NaN
...         ...        ...         ...        ...        ...        ...
2120        NaN        NaN         NaN        NaN        NaN        NaN
2121         39        NaN           2        NaN          2        NaN
2122        NaN        NaN         NaN        NaN        NaN        NaN
2123        NaN      Total      481152      11244      59687          2
2124        NaN        NaN         NaN        NaN        NaN        NaN

              Unnamed: 8 Unnamed: 9  ... Unnamed: 31 Unnamed: 32 Unnamed: 33  \
0                    NaN        NaN  ...         NaN         NaN         NaN
1                    NaN        NaN  ...         NaN         NaN         NaN
2     Manufacturer Model       Bore  ...         NaN         NaN         NaN
3                    NaN        NaN  ...         NaN         NaN         NaN
4                    NaN        NaN  ...         NaN         NaN         NaN
...                  ...        ...  ...         ...         ...         ...
2120                 NaN      4.625  ...         NaN         NaN         NaN
2121        Tornado T-14       4.25  ...         NaN         NaN         NaN
2122                 NaN       3.75  ...         NaN         NaN         NaN
2123                 NaN        NaN  ...         NaN         NaN         NaN
2124                 NaN        NaN  ...         NaN         NaN         NaN

     Unnamed: 34 Unnamed: 35 Unnamed: 36 Unnamed: 37 Unnamed: 38 Unnamed: 39  \
0            NaN         NaN         NaN         NaN         NaN         NaN
1            NaN         NaN         NaN         NaN         NaN         NaN
2            NaN         NaN         NaN         NaN         NaN         NaN
3            NaN         NaN         NaN         NaN         NaN         NaN
4            NaN         NaN         NaN         NaN         NaN         NaN
...          ...         ...         ...         ...         ...         ...
2120         NaN         NaN         NaN         NaN         NaN         NaN
2121         NaN         NaN         NaN         NaN         NaN         NaN
2122         NaN         NaN         NaN         NaN         NaN         NaN
2123         NaN         NaN         NaN         NaN         NaN         NaN
2124         NaN         NaN         NaN         NaN         NaN         NaN

     Unnamed: 40
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
2120         NaN
2121         NaN
2122         NaN
2123         NaN
2124         NaN

[2125 rows x 41 columns]